body{
    margin: 0;
    padding: 0;
    background-color: #e1f5fe;
  
    height: 100vh;
  }

.inform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    background: #b3e5fc;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
    text-align: center;
  }
